body{
    background: #FFFFFF
}
.posts-list{
    margin-left: 1%;
    width: 40%
}
.date{
    font-size: smaller;
    color: #555;
    float: right;
}
.categories-list{
    margin-left: 5%;
    width: 50%
}
.delete{
    position: relative;
    bottom: 15px;
    float: right;
}
.delete a {
    color: red;
    text-decoration: none;
}